@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";
@import "_profile.scss";
@import "_custom-variables";
@import "_custom-navbar";
body {
  font-family: $font-family-liberation-arial-sans-serif;
}

body {
  background: $bckgrnd-drk;
}

.headers {
  text-align: $txt-algn-cntr;
  //   font-size: $fnt-sz-lg; redundant
}

h1 {
  color: $gold;
}

label,
p {
  color: $white;
}

.current {
  text-decoration: $txt-dec-und;
}

.mobile h1 {
  font-size: $fnt-sz-sm;
}

// form
form {
  align-items: $algn-ctr;
  display: $dsp-flx-flx;
  flex-direction: $flx-drct-cl;
}

.narrow-input {
  width: $wdth-sm; /* Adjust the width as needed */
}
